@import "tailwindcss";

@theme {
  --color-surface: #f8f9ff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d3e4fe;
  --color-primary: #000000;
  --color-primary-container: #131b2e;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #7c839b;
  --color-secondary: #904d00;
  --color-secondary-fixed: #ffdcc3;
  --color-on-secondary-fixed: #2f1500;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #45464d;
}